<ion-view view-title="<span class='title-span'>إغلاق بلاغ</span>{{navTitle}}">
  <ion-content>
    <form name="CloseForm" novalidate>
    <div ng-init="request={}" class="list" dir="rtl">

      <label style="margin-right:5px;border:none;margin-left:-5px"class="item item-input">
        <input  required type="number" ng-model="request.ID" placeholder="رقم البلاغ">
      </label>


      <label class="item item-input content">
        <textarea style="font-family:ourFont" rows="4" ng-model="request.Report" placeholder="التقرير"></textarea>
      </label>

      <ion-item class="item" dir="ltr">
        <div class="row">
          <div class="col col-33">
            <button class="btn" data-ng-click="camera(2)"><img ng-src="img/camera_icon{{camera_icon}}.PNG"  class="img-responsive img-icon" /></button>
          </div>
          <div style="margin:0 auto" align="center" class="col col-33"><ion-spinner icon="bubbles" ng-show="loading_request"></ion-spinner></div>
          <div class="col col-33 divider label-divider">المرفقات</div>
        </div>
        <div class="button-bar">
          <button ng-disabled="requestForm.$invalid" ng-click="closeComplaint(request)" class="button button-stable" style="border-radius:0">إغلاق</button>
        </div>
      </ion-item>
    </div>
  </form>
  </ion-content>
</ion-view>
