<ion-view view-title="<span class='title-span'>كيفية الإستخدام</span>{{navTitle}}">
  <ion-content class="display">
    <form name="requestForm" novalidate>
    <div class="list" dir="rtl">
      <div class="item item-divider divider">
        تفاصيل البلاغ
      </div>
      <label class="item item-input">
        <input readonly type="number" placeholder="أكتب هنا رقم الهاتف">
      </label>
      <label class="item item-input">
        <input readonly type="number" placeholder="أكتب هنا رقم العمود">
      </label>
      <label class="item item-input">
        <input readonly type="number"  placeholder="أكتب هنا رقم المغذي">
      </label>
      <label class="item item-input">
        <input readonly type="number" placeholder="أكتب هنا رقم اللوحة">
      </label>

      <div class="item item-divider divider">
        الرسالة&nbsp;
        <span style="color:#D3BECF;font-size:14px">( أقصي حد ٥٠٠ حرف )</span>
      </div>

      <label class="item item-input content">
        <textarea rows="4" readonly placeholder="أكتب هنا تفاصيل البلاغ"></textarea>
      </label>

      <div class="item item-divider divider">
        التقط صورة
        <br/>
        <img ng-src="img/camera_icon.PNG"  class="img-responsive img-icon" /></br>
        <span style="font-size:13px">
        إضغط علي هذاالزر لالتقاط صورة للبلاغ
      </span>
      </div>

      <div class="item item-divider divider">
        إقراء QR Code
        <br/>
        <img ng-src="img/qr_code_icon.PNG"  class="img-responsive img-icon" /></br>
        <span style="font-size:13px">
          إضغط علي هذا الزر لقراءة
          <br/>
          QR Code لمعرفة بيانات وعنوان البلاغ
        </span>
      </div>
      <label class="item item-input content">
        <img width="90%" src="img/sticker.png" class="img-responsive" alt="">
      </label>
      </ion-item>
    </div>
  </form>
  </ion-content>
</ion-view>
