<ion-view hide-nav-bar="true" >

  <ion-content class="content home login">
    <div id="wrapper">
      <div class="row">
        <div class="col" style="margin-right:0;">
          <a href="#/app/login/1" class="text-center">
            <img class="img-responsive center-block" src="img/employees_icon.PNG" />
            <h4>موظفي الأمانة</h4>
          </a>
        </div>
        <div class="col">
          <a href="#/app/use" class="text-center">
            <img class="img-responsive" src="img/citizens_icon.PNG"/>
            <h4>بلاغات المواطنين</h4>
          </a>
        </div>
      </div>

      <div class="row" style="padding-bottom:0">
        <div class="col" style="margin-right:0;">
          <a href="#/app/information" class="text-center">
            <img class="img-responsive center-block" src="img/info.png" />
            <h4>معلومات</h4>
          </a>
        </div>
        <div class="col">
          <a href="#/app/login/2" class="text-center">
            <img class="img-responsive" src="img/workers_icon.PNG"/>
            <h4>مقاولي الصيانة</h4>
          </a>
        </div>
      </div>
    <div>
  </ion-content>
</ion-view>
