<ion-view view-title="<span class='title-span'>معلومات</span>{{navTitle}}" class="title">

  <ion-content class="info">

    <div class="row" >
      <div class="col"><img class="img-responsive" width="100" height="100" src="img/icon.png" alt=""></div>
      <div class="col col-75">تطبيق تلقي بلاغات وشكاوي المواطنين عن شبكة إنارة الطرق والشوارع لأمانة المنطقة الشرقية</div>
    </div>


      <p>حرصاً من أمانة المنطقة الشرقية علي خدمة ساكني المنطقة الشرقية قامت وكالة التعمير والمشاريع  -إدارة الإشراف علي مشاريع الإنارة  - بإنشاءهذا التطبيق وذلك للعمل علي توفير أحدث الطرق التي تساهم في إيصال بلاغات وشكاوي السكان عن شبكة إنارة الطرق والشوارع</p>
      <div align="center">
        <img class="img-responsive" width="100" height="100" src="img/logo.gif" alt="">
      </div>
  </ion-content>
</ion-view>
