<ion-view hide-nav-bar="true" class="login">
  <ion-content overflow-scroll="false">
    <div id="loginDiv">
      <form dir="rtl" name="loginForm" novalidate>
        <div class="list">
          <label class="item item-input">
            <input required type="text" ng-model="username" placeholder="إسم المستخدم">
          </label>
          <label class="item item-input">
            <input required type="password" ng-model="password" placeholder="كلمة المرور">
          </label>

          <label class="item item-input">
            <button ng-disabled="loginForm.$invalid" class="button button-stable" ng-click="login(username,password)" style="border-radius:0;width:100%" type="submit">تسجيل الدخول</button>
          </label>

          <label class="item item-input">
            <div style="margin:0 auto" align="center"><ion-spinner icon="bubbles" ng-show="loading_login"></ion-spinner></div>
          </label>
        </div>
      </form>
     </div>
  </ion-content>
</ion-view>
