<ion-view view-title="<span class='title-span'>بلاغ جديد</span>{{navTitle}}">
  <ion-content>
    <form name="requestForm" novalidate>
    <div  class="list request" dir="rtl">
      <div class="item item-divider divider">
        تفاصيل البلاغ
      </div>
      <label class="item item-input">
        <input required type="tel" ng-change="setTel(request.Mobile)" name="mobile" ng-model="request.Mobile" placeholder="رقم الجوال مطلوب">
      </label>
      <label class="item item-input">
        <input required type="number" ng-model="request.Pole" placeholder="رقم العمود مطلوب">
      </label>
      <label class="item item-input">
        <input required type="number" ng-model="request.Fader" placeholder="رقم المغذي مطلوب">
      </label>
      <label class="item item-input">
        <input required type="number" ng-model="request.Panel" placeholder="رقم اللوحة مطلوب">
      </label>

      <div class="item item-divider divider">
        تصنيف البلاغ
      </div>
      <label dir="rtl" id="select-request" class="item item-input item-select">
        <select ng-change="setCatId(request.CategoriesID)" style="color:#853774;" ng-options="category.ID as category.NameAR for category in categories"  ng-model="request.CategoriesID">
          <option value="" ng-if="false"></option>
        </select>
      </label>

      <div class="item item-divider divider">
        الرسالة&nbsp;
        <span style="color:#D3BECF;font-size:14px">( أقصي حد ٥٠٠ حرف )</span>
      </div>

      <label class="item item-input content">
        <textarea rows="4" ng-model="request.Complaint" placeholder="..."></textarea>
      </label>

      <ion-item class="item" dir="ltr">
        <div class="row">
          <div class="col col-33">
            <button class="btn" data-ng-click="camera(2)"><img ng-src="img/camera_icon{{camera_icon}}.PNG"  class="img-responsive img-icon" /></button>
            <button class="btn" data-ng-click="qr_code()"><img ng-src="img/qr_code_icon{{qr_icon}}.PNG"  class="img-responsive img-icon" /></button>
          </div>
          <div style="margin:0 auto" align="center" class="col col-33"><ion-spinner icon="bubbles" ng-show="loading_request"></ion-spinner></div>
          <div class="col col-33 divider label-divider">المرفقات</div>
        </div>
        <div class="button-bar">
          <button ng-disabled="requestForm.$invalid" ng-click="sendComplaint(request)" class="button button-stable" style="border-radius:0">إرسال</button>
        </div>
      </ion-item>
    </div>
  </form>
  </ion-content>
</ion-view>
