<ion-view ng-init="keyword=''" view-title="<span class='title-span'>البحث</span>{{navTitle}}" class="title">
  <div ng-init="closed=active" class="tabs-striped tabs-top tabs-background-stable tabs-color-light">
    <div class="tabs">

      <a class="tab-item {{closed}}" onclick="return false;"  ng-click="setClose($event)">
        البلاغات المغلقة
      </a>

      <a class="tab-item {{opened}}" onclick="return false;" ng-click="setOpen($event)">
        البلاغات المفتوحة
      </a>
    </div>
  </div>

  <ion-content class="has-tabs-top" >
    <div class="list list-inset" style="background-color:transparent">
      <ion-item ng-if="type==3" class="item item-input" style="margin-top:10px">
        <i class="icon ion-ios-telephone placeholder-icon"></i>
        <input type="search" ng-change="emptySearch(keyword)" ng-model="keyword" ng-enter="search(keyword)" placeholder="البحث برقم الهاتف">
      </ion-item>

      <ion-item ng-if="type!=3" class="item item-input" style="margin-top:10px">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="keyword" ng-enter="search(keyword)" placeholder="البحث برقم البلاغ">
      </ion-item>
    </div>
    <!-- list of bla2'at -->

    <div class="list card">
      <h4 class="text-center error">{{no_result}}</h4>

      <div class="item" ng-show="loading" align="center">
        <ion-spinner icon="bubbles"></ion-spinner>
      </div>
      <!-- bla2' -->
    <div ng-repeat="complaint in complaints" class="flag_{{complaint.flag}}_{{type}}_{{complaint.Status}}"">
      <div class="item item-divider">
          رقم البلاغ : {{complaint.ID}}
      </div>
      <div class="item item-text-wrap">
        <table class="table">
          <tr>
            <td style="width:75%">{{complaint.CreateDate1}} - {{complaint.CreateTime}} :</td>
            <td>تاريخ البلاغ </td>
          </tr>
          <tr>
            <td style="width:75%"><span class="opend" ng-hide="{{complaint.Status}}">مفتوح</span><span class="closed" ng-show="{{complaint.Status}}">مغلق</span> :</td>
            <td>الحالة</td>
          </tr>
          <tr>
            <td>
                {{complaint.NeighborhoodName}} :
            </td>
            <td>الموقع </td>
          </tr>

          <tr ng-if="type!=3">
            <td>
                {{complaint.Body}} :
            </td>
            <td> الاشراف</td>
          </tr>

          <tr ng-if="type==1">
            <td>
                {{complaint.full_name}} :
            </td>
            <td> المقاول</td>
          </tr>

          <tr ng-if="type!=3">
            <td colspan="2">
                رقم العمود &nbsp;
                : &nbsp; {{complaint.Pole}} -
                رقم المغذي  &nbsp;
                : &nbsp; {{complaint.Fader}}
            </td>
          </tr>
          <tr ng-if="type!=3">
            <td colspan="2">
                رقم المحطة&nbsp;
                : &nbsp; {{complaint.Panel}}
            </td>
          </tr>
        </table>
      </div>
    <div>
  </div>
  </ion-content>
</ion-view>
