<ion-view ng-init="keyword=''" view-title="<span class='title-span'>إحصائيات</span>{{navTitle}}" class="title">

  <ion-content>
    <div class="list list-inset" style="background-color:transparent">
      <ion-item class="item item-input item-select" style="margin-top:10px">
        <select ng-options="option.id as option.full_name for option in options" ng-change="searchMo2awel(contractor_id)" style="border:1px solid #ccc" ng-model="contractor_id">
          <option value="" ng-if="false"></option>
        </select>
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="keyword" ng-enter="searchMo2awel(keyword)" placeholder="البحث برقم المقاول">
      </ion-item>
    </div>
    <!-- list of bla2'at -->

    <div class="list card">
      <h4 class="text-center error">{{no_result}}</h4>

      <div class="item" ng-show="loading" align="center">
        <ion-spinner icon="bubbles"></ion-spinner>
      </div>
      <!-- bla2' -->
    <div ng-repeat="info in data" >
      <div class="item item-divider">
          {{info.name}}
      </div>
      <div class="item item-text-wrap">
        <table class="table">
          <tr>
            <td><strong>{{info.count}}</strong> &nbsp;:</td>
            <td>مجموع البلاغات</td>
          </tr>
          <tr>
            <td><strong style="color:green">{{info.close}}</strong> &nbsp;:</td>
            <td>البلاغات المغلقة</td>
          </tr>
          <tr>
            <td>
                <strong style="color:red">{{info.open}}</strong> &nbsp;:
            </td>
            <td style="width:40%">البلاغات المفتوحة</td>
          </tr>
          <tr>
            <td>
                <strong style="color:green">%{{info.precentage}}</strong> &nbsp;:
            </td>
            <td style="width:50%">نسبة البلاغات المغلقة</td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td ng-if="info.precentage!=0" width="{{info.precentage}}%" align="center" bgcolor="green">{{info.close}}</td>
            <td ng-if="info.success_per!=0" width="{{info.success_per}}%" align="center" bgcolor="red">{{info.open}}</td>
          </tr>
        </table>
      </div>

  </ion-content>
</ion-view>
