<ion-view hide-nav-bar="true" class="success_panel">
  <ion-content>
    <div class="card success">
      <img style="margin-top:40px;" src="img/success_msg_icon.png" width="90" height="90"/></br>
      <span class="h4">تم إستلام البلاغ رقم </span><span class="h4"style="color:#853774">{{id}}</span><span class="h4"> بنجاح</span><br/>
      <span class="h4">شكراً عزيزي المواطن</span>
      <a ng-click="restart($event)" class="button button-stable " style="border-radius:0">حسناً</a>
    </div>
  </ion-content>
</ion-view>
