<ion-view view-title="<span class='title-span'>تلقي بلاغات المواطنين</span>{{navTitle}}" >

  <ion-content class="content">
    <div class="list">

      <a class="item item-icon-left listItem"  href="#/app/display">
        <i class="icon ion-ios-arrow-left"></i>
        مساعدة 
      </a>

      <a class="item item-icon-left listItem"  href="#/app/request">
        <i class="icon ion-ios-arrow-left"></i>
        بلاغ جديد
      </a>

      <a class="item item-icon-left listItem" href="#/app/search/{}">
        <i class="icon ion-ios-arrow-left"></i>
        متابعة البلاغات
      </a>
    </div>
  </ion-content>
</ion-view>
