<ion-view view-title="<span class='title-span'>إدارة مقاولي الصيانة</span>{{navTitle}}" >

  <ion-content  class="content">
    <div class="list">

      <a class="item item-icon-left listItem" href="#/app/search/{{response}}">
        <i class="icon ion-ios-arrow-left"></i>
        متابعة البلاغات
      </a>

      <a class="item item-icon-left listItem" href="#/app/close_complain/{{response}}">
        <i class="icon ion-ios-arrow-left"></i>
        إغلاق بلاغ
      </a>
    </div>
  </ion-content>
</ion-view>
