<ion-view view-title="<span class='title-span'>إدارة متابعة البلاغات</span>{{navTitle}}" >

  <ion-content ng-init="response={type:1}" class="content">
    <div class="list">

      <a class="item item-icon-left listItem" href="#/app/search/{{response}}">
        <i class="icon ion-ios-arrow-left"></i>
        متابعة البلاغات
      </a>

      <a class="item item-icon-left listItem" href="#/app/static">
        <i class="icon ion-ios-arrow-left"></i>
        إحصائيات
      </a>
    </div>
  </ion-content>
</ion-view>
