/* Empty. Add your own CSS if you like */

@font-face {
  font-family: "ourFont";
  src: url("../fonts/two_light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.bar .title.title-left{
  text-align: right;
}
.title-span{
  line-height: 50px;
  margin-top: 10px;
  display: block;
  float: left;
  text-align: right;
  width: 81%;
}

input[type="text"],input[type="tel"],input[type='number'],input[type="password"]{
  font-size: 16px;
  border: 1px solid #ccc;
  margin-right: 5px;
  width: 100%;
}

.item-select{
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.item-select select{
  min-width: 100%;
}

.error{
  color: red;
  font-size: 14px;
}

.done{
  color: green;
  font-size: 14px;
}
*,.info,.error,.h4,.done,textarea[readonly],.item-select select,input[type=password],input[type=tel],input[type=number],button,h5,h4,h1,.success,.listItem,.title,input[type=text],input[type=search],.tab-item{
  font-family: "ourFont";
}

.info .col-75,.info p{
  text-align: right;
  padding: 30px;
  font-size: 15px;
  /*color :#853774;*/
}
.info p{
  padding: 10px;
}
.home .col{
  background-color: #FFF;
  margin: 1px;
}
.img-responsive{
  margin: 5 auto;
}
a{
  text-decoration: none;
}
.home h4{
  color: #306bb4;
  font-size: 13px;
}
.home img{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 5px;
  display: table;
}
.content{
  background-color:#f8f8ff;
}
.listItem{
  text-align: right;
  font-size: 18px;
  background-color: #f7f2f2;
  margin-bottom: 2px;
  border-color: #853774;
  border-width: 1px;
}

.list{
  margin-top: 2px;
}
.divider{
  color: #853774;
  background-color: #FFF;
  text-align: right;
  font-weight: bolder;
  padding: 20px;
}

label.content{
  padding: 10px;
}
label.content textarea{
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.img-icon{
  width: 35px;
  height: 35px;
}
.label-divider{
    padding: 0;
}
.tab-item{
  max-width: 100%;
  font-size: 16px;
}

.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.active,
.tabs-top.tabs-striped .tab-item.activated{
  border-width: 0px 0px 4px 0px !important;
  border-color: #9eceec;
}
.list-inset input[type=text],.list-inset input[type=search]{
  border:none;
  direction: rtl;
  margin-right: 0;
  padding-right:5px;
  font-size: 16px;
}

.card .item-divider{
  background-color: #c6deee;
  text-align: center;
}
.card .item-text-wrap{
  background-color: #e4ecf2;
  text-align: right;
  margin-bottom: 8px;
}

.table{
  width: 100%;
}
.platform-android {
 .tabs-content {
   @extend .has-tabs-top;
 }
}

.btn{
  border: none;
  background-color: #FFF;
  margin-top: -10px;
}

.closed{
  color:red;
}
.opend{
  color:green;
}

.success_panel{
        background: url('../img/success.png') center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
.login{
  background: url('../img/splash.jpeg') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.login form{
  margin-top: 100%;
  height: 0px;
}
.login .item,.login .item-input,.item-select {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.login form input{
  height: 50px;
  background-color: #FFF;
  width: 100%;
  border: none;
}
.login button{
  margin-right: 5px;
}
.success{
  height: 50%;
  margin-top: 50%;
  text-align: center;
}

.success a{
  display: block;
  width: 90%;
  margin: 15% auto;
}
.item{
  background-color: #FFF;
}

.flag_1_1_0 .item-text-wrap{
  background-color: red;
}
.flag_2_1_0 .item-text-wrap{
  background-color: yellow;
}


.display input,.display input[readonly],.display textarea[readonly]{
  background-color: #c6deee;
}

.title-image {
    margin-top: 8px;
    height: 44px;
    width: 50px;
    border: 1px solid #FFF;
    border-radius: 60px;
}

#wrapper{
  position: fixed;
  width: 100%;
  bottom: 1px;

}
#loginDiv{
  position: absolute;
  width: 100%;
  top: -1px;
}

.scroll{
  background: url('../img/bg.png') center center fixed;
}
.request{
  background:none;
  background-color: #FFF;
}
#select-request{
  border:1px solid #CCC;
  width:auto;
  margin:5px;
  margin-top:5px;
  margin-left: 18px;
}
.row{
  padding: 0;
  padding-bottom: 4px;
}
.platform-ios {
 .tabs-content {
   @extend .has-tabs;
 }
}
